@font-face
  font-family: 'Chalkboard'
  src: url('./assets/font/chalk-board.regular.ttf') format('truetype')

@font-face
  font-family: 'Vtkschalk'
  src: url('./assets/font/vtks-chalk-79.regular.ttf') format('truetype')
